@import "tailwindcss";

body{
  background-color: #1f1f24;
   font-family: var(--font-fira-code), monospace;
}



@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  display: inline-block;
  margin-left: 2px;
  animation: blink 2s step-start infinite;
}